USE [master]
GO
/****** Object:  Database [UUIDS]    Script Date: 14.02.2024 16:12:12 ******/
CREATE DATABASE [UUIDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UUIDS', FILENAME = N'C:\Users\0_311_5\Desktop\UUIDS\bd\UUIDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UUIDS_log', FILENAME = N'C:\Users\0_311_5\Desktop\UUIDS\bd\UUIDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UUIDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UUIDS]
GO
/****** Object:  Table [dbo].[Stud]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stud](
	[Код Студ(id)] [nvarchar](255) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[Группа] [nvarchar](255) NULL,
	[Куратор] [nvarchar](255) NULL,
	[Тел] [nvarchar](255) NULL,
	[Код Специальности] [nvarchar](255) NULL,
	[Направление специальности] [nvarchar](255) NULL,
 CONSTRAINT [PK_Студенты] PRIMARY KEY CLUSTERED 
(
	[Код Студ(id)] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Вид Работы]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Вид Работы](
	[Вид Работы] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Вид Работы] PRIMARY KEY CLUSTERED 
(
	[Вид Работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ГруппаП]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГруппаП](
	[№Группы] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПредметыП]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПредметыП](
	[Название направления] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ПредметыП] PRIMARY KEY CLUSTERED 
(
	[Название направления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Работы_студентов]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работы_студентов](
	[ID Работы] [float] NOT NULL,
	[ВидРаботы] [nvarchar](255) NULL,
	[Тема Работы] [nvarchar](255) NULL,
	[ФИО Студ] [nvarchar](255) NULL,
	[Группа] [nvarchar](255) NULL,
	[НаправлениеСпец] [nvarchar](255) NULL,
	[Специальность] [nvarchar](255) NULL,
	[Руководитель] [nvarchar](255) NULL,
	[Оценка] [float] NULL,
	[Год] [float] NULL,
 CONSTRAINT [PK_Работы_студентов] PRIMARY KEY CLUSTERED 
(
	[ID Работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РуководителиП]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РуководителиП](
	[ФИО] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_РуководителиП] PRIMARY KEY CLUSTERED 
(
	[ФИО] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СпециальностиП]    Script Date: 14.02.2024 16:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СпециальностиП](
	[КодСпец] [nvarchar](255) NOT NULL,
	[Название Специальности] [nvarchar](255) NULL,
	[Направление Специальности] [nvarchar](255) NULL,
 CONSTRAINT [PK_СпециальностиП] PRIMARY KEY CLUSTERED 
(
	[КодСпец] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stud]  WITH CHECK ADD  CONSTRAINT [FK_Stud_РуководителиП] FOREIGN KEY([Куратор])
REFERENCES [dbo].[РуководителиП] ([ФИО])
GO
ALTER TABLE [dbo].[Stud] CHECK CONSTRAINT [FK_Stud_РуководителиП]
GO
ALTER TABLE [dbo].[Stud]  WITH CHECK ADD  CONSTRAINT [FK_Stud_СпециальностиП] FOREIGN KEY([Код Специальности])
REFERENCES [dbo].[СпециальностиП] ([КодСпец])
GO
ALTER TABLE [dbo].[Stud] CHECK CONSTRAINT [FK_Stud_СпециальностиП]
GO
ALTER TABLE [dbo].[Работы_студентов]  WITH CHECK ADD  CONSTRAINT [FK_Работы_студентов_Вид Работы] FOREIGN KEY([ВидРаботы])
REFERENCES [dbo].[Вид Работы] ([Вид Работы])
GO
ALTER TABLE [dbo].[Работы_студентов] CHECK CONSTRAINT [FK_Работы_студентов_Вид Работы]
GO
ALTER TABLE [dbo].[Работы_студентов]  WITH CHECK ADD  CONSTRAINT [FK_Работы_студентов_СпециальностиП] FOREIGN KEY([Специальность])
REFERENCES [dbo].[СпециальностиП] ([КодСпец])
GO
ALTER TABLE [dbo].[Работы_студентов] CHECK CONSTRAINT [FK_Работы_студентов_СпециальностиП]
GO
ALTER TABLE [dbo].[СпециальностиП]  WITH CHECK ADD  CONSTRAINT [FK_СпециальностиП_ПредметыП] FOREIGN KEY([Направление Специальности])
REFERENCES [dbo].[ПредметыП] ([Название направления])
GO
ALTER TABLE [dbo].[СпециальностиП] CHECK CONSTRAINT [FK_СпециальностиП_ПредметыП]
GO
USE [master]
GO
